body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  Form {
    background-color: rgb(208, 175, 255);
    color: aliceblue;
  }
  